@import "tailwindcss";




body {
font-family: "Arial Rounded MT Bold", Arial, sans-serif;



}
.header{
  padding:2vw;
  background:black;
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
}
.menu {width:20%;
 margin: 0 auto;
 display: flex;
 justify-content: space-between;
 align-items: center;
}